body{
    padding:0px;
    margin:0;
}
header{
    height:100%;
    width:100%;
    padding:0px;
    margin:0;
    text-align: center;
    line-height: 10rem;
    
}
nav{
    background-color: #c7618b;
}
section{
    height: 75vh;
}
footer{
    background-color:  #67a1a5;
    height: 100px;
}