* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(199, 97, 139, 1) 0%, rgba(103, 161, 165, 1) 100%);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-logo img {
    max-width: 80px;
    height: auto;
}


.dropdown-menu {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, rgba(199, 97, 139, 1) 0%, rgba(103, 161, 165, 1) 100%);
    padding: 0.5rem 0;
    z-index: 1000;
    margin: 0;
}

.dropdown-menu.open {
    display: flex;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-toggle:hover {
    color: black;
}


.btn-nav {
    background: none;
    border: none;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease, letter-spacing 0.3s ease;
    letter-spacing: 0;
}

.btn-nav::before,
.btn-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: black;
    transform: translateX(-50%);
    transition: width 0.7s ease, transform 0.7s ease;
}

.btn-nav::before {
    top: 0;
}

.btn-nav::after {
    bottom: 0;
}

.btn-nav:hover {
    color: white;
    letter-spacing: 3px;
}

.btn-nav:hover::before,
.btn-nav:hover::after {
    width: 10vw;
    left: 50%;
}

.btn-nav:focus,
.menu-toggle:focus {
    outline: none;
}


.nav-icons {
    display: flex;
    gap: 0.3rem;
    margin-left: auto;
}

.user,
.cart {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user:hover,
.cart:hover {
    transform: scale(1.1);
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 10px;
    background: transparent;
    color: white;
    transition: all 0.3s ease;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-bar:focus {
    background: white;
    color: #c7618b;
    outline: none;
}

.main-content {
    flex: 1;
    padding: 1rem;
}

.doughnut-line {
    width: 100%;
    height: 5px;
    background-size: contain;
    background-color: #c7618b;
    margin: 0;
    padding: 0;
}

.next-summer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../pictures/pool-patern.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    padding: 0;
}

footer {
    background: #67a1a5;
    color: white;
    text-align: center;
    padding: 1rem;
}



a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: linear-gradient(90deg, rgba(199, 97, 139, 1) 0%, rgba(103, 161, 165, 1) 100%);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.rating .fa {
    color: #c7618b;
}

.offer {
    background: linear-gradient(90deg, rgba(199, 97, 139, 1) 0%, rgba(103, 161, 165, 1) 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
    /*kada dode veca slika ovo promjeni*/
}

small {
    color: #555;
}

.gumb {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7rem;
    padding: 1.5rem;
    margin: 2rem auto;
    background: linear-gradient(90deg, rgba(199, 97, 139, 1) 0%, rgba(103, 161, 165, 1) 100%);
    color: black;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: fit-content;
}

.clock-title {
    font-family: "Lacquer", system-ui;
    font-size: 7rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .next-summer {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        padding: 0;
    }

    .nav-icons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .search-bar {
        display: none;
    }

    .col-4 img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .col-4 h4 {
        font-size: 1rem;
        text-align: center;
    }

    .col-4 p {
        font-size: 0.9rem;
        text-align: center;
    }

    .rating {
        text-align: center;
        font-size: 0.8rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .small-container {
        padding: 0 1rem;
    }

    .gumb {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background: #c7618b;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.3s ease;
    }

    .gumb:hover {
        background: #a34d6e;
    }

    .next-summer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1rem;
    }

    .clock-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .clock {
        font-size: 3rem;
        padding: 1rem;
        margin: 1rem auto;
        width: auto;
    }
}